
@{
    ViewBag.Title = "Index";
    Layout = @ViewBag.Layout;
}

<!-- Content -->
<div class="container">

    <br><br>

    <!-- Cards -->
    <div class="row mb-5 mt-5">
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src=@Url.Content("~/Images/kasabian.jpg")>
                <div class="card-body">
                    <h4 class="card-title">KASABIAN</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Credicard Hall (São Paulo - SP)</h6>
                    <p class="card-text text-justify">Depois de três anos de espera o grupo britânico está de volta ao Brasil para mais uma apresentação.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2" data-toggle="modal" data-target=@Url.Content("~/Views/Home/Index.cshtml/#siteModal")><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="ingresso.html" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/rogerWaters.jpg")">
                <div class="card-body">
                    <h4 class="card-title">ROGER WATERS</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Allianz Parque (São Paulo - SP)</h6>
                    <p class="card-text text-justify">Roger Waters retorna à América do Sul em 2018 com uma nova turnê, Roger Waters - Us + Them, que combina clássicos do Pink Floyd e novas canções de seu trabalho solo.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/skank.jpg")">
                <div class="card-body">
                    <h4 class="card-title">SKANK</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Credicard Hall (São Paulo - SP)</h6>
                    <p class="card-text">Skank apresenta o show do inédito DVD “OS Três Primeiros – Ao Vivo”. O repertório reúne os sucessos dos três primeiros álbuns.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/lauraPausini.jpg")">
                <div class="card-body">
                    <h4 class="card-title">LAURA PAUSINI</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Credicard Hall (São Paulo - SP)</h6>
                    <p class="card-text">A cantora pop italiana apresenta faixas do novo álbum, “Fatti Sentire” (2018), como “Nuevo” e “Nadie Ha Dicho”.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/capitalInicial.jpg")">
                <div class="card-body">
                    <h4 class="card-title">CAPITAL INICIAL</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Km Vantagens Hall (Belo Horizonte - BH)</h6>
                    <p class="card-text">O Capital Inicial retorna a BH fazendo um show que traz diversos sucessos ao longo dos mais de 30 anos de carreira da banda.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/solidRock.jpg")">
                <div class="card-body">
                    <h4 class="card-title">SOLID ROCK</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Allianz Parque (São Paulo - SP)</h6>
                    <p class="card-text">Judas Priest, Alice in Chains e Black Star Riders serão as atrações principais do festival este ano.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/bethaniaZeca.jpg")">
                <div class="card-body">
                    <h4 class="card-title">MARIA BETHÂNIA E ZECA PAGODINHO</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Credicard Hall (São Paulo - SP)</h6>
                    <p class="card-text">Em tempos de Brasil conturbado, um sopro de alívio nas artes: Zeca Pagodinho e Maria Bethânia estão juntos no palco.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/luluSantos.jpg")">
                <div class="card-body">
                    <h4 class="card-title">LULU SANTOS</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Eletronic music prod.</h6>
                    <p class="card-text">Lulu Santos apresenta sua turnê “Canta Lulu”, em comemoração aos seus 45 anos de carreira.</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
            <div class="card mb-5">
                <img class="card-img-top" src="@Url.Content("~/Images/pericles.jpg")">
                <div class="card-body">
                    <h4 class="card-title">PÉRICLES</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Credicard Hall (São Paulo - SP)</h6>
                    <p class="card-text">Périclão é show!</p>
                    <a href="" class="card-link text-secondary  link-custom1 mr-2"><i class="fas fa-info-circle mr-2"></i>Mais Informações</a>
                    <a href="#" class="btn btn-secondary  rounded-pill ml-4">GARANTIR INGRESSO</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim dos Cards -->

</div>

